snippet author "作者声明 and so on" b
Author: xianyu
email: admin@xianyu.com

$0
endsnippet

snippet separate- "vim help 文件的分割符" b
-------------------------------------------------------------------------------
endsnippet
