snippet author "作者声明 and so on" b
Author: xianyu
email: admin@xianyu.com

$0
endsnippet

snippet begin "vim help 文件" b
-------------------------------------------------------------------------------
*$0*
endsnippet

